<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- MCPE 0.8.1：局域网联机走 UDP（RakNet），需要网络权限。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:glEsVersion="0x00010000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:label="MinecraftPE Community Edition"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:hasCode="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:largeHeap="true">

        <activity
            android:name="com.reconnern.mcpe.MainActivity"
            android:exported="true"
            android:label="MinecraftPE Community Edition"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout|uiMode|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <meta-data android:name="android.app.lib_name" android:value="minecraftpe" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
